{% extends 'base.template.html' %}
{% load crispy_forms_tags %}


{% block content %} 
<section id="reviews-page">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container" id="navbar-container"><a href="{%url 'homepage' %}" class="navbar-brand text-uppercase font-weight-bold">WARM BAKES</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-uppercase font-weight-bold" href="{%url 'show_all_products_route'%}">Products<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-uppercase font-weight-bold" href="{%url 'show_all_lessons_route'%}">Lessons</a>
                      </li>
                      {% if user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link text-uppercase font-weight-bold" href="{%url 'profile_page_route' %}">My Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-uppercase font-weight-bold" href="{%url 'view_all_reviews_route' %}">My Reviews</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-uppercase font-weight-bold" href="{%url 'view_my_purchases_route' %}">My Purchases</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-uppercase font-weight-bold" href="{%url 'account_logout' %}">Logout</a>
                      </li>
                      {% endif %}
                      {% if not user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link text-uppercase font-weight-bold" href="{%url 'account_login'%}">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-uppercase font-weight-bold" href="{%url 'account_signup'%}">Register</a>
                      </li>
                      {% endif %}
                      <li class="nav-item">
                        <a class="nav-link text-uppercase font-weight-bold" href="{% url 'view_cart_route' %}"><i class="fa fa-shopping-cart 3x mr-2" aria-hidden="true"></i><span>{{number_of_items}}</span></a>
                      </li>
            </div>
        </div>
    </nav>

    <div class="container" id="review-hero-container">
        <div class="pt-5 ">
            <div class="review-hero-text ">
                <div id="review-hero-title">
                    <h1 class="text-white font-weight-bold mb-3 mt-5 display-1"><strong>
                       My Reviews
                    </strong></h1>
                </div>
                <div id="review-hero-subtitle">
                    <p>Find all your reviews here!
                    </p>
                    <a href="#all-review-listings-area" class="btn btn-warning btn-lg pill-rounded" id="review-button-scroll"> 
                      View My Reviews
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="all-review-listings-area">
    <div class="all-products-title text-center py-2">
      <h1 class="display-3 font-weight-bold ">My Reviews</h1>
      <hr class="highlight-title">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="col-lg-11 mx-auto py-4">
          <div class="row py-5"></div>
          <figure class="rounded p-3 bg-white shadow-sm text-center">
            <div class="card shadow border-0 mb-5">
                <div class="card-body p-5">
                    <h2 class="h4 mb-1">Product Reviews</h2>
                </div>
                <ul class="list-group-shadow p-0 m-0">
                    {% for each_review in product_reviews %}
                        <li class="list-group-item">
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3 mr-lg-5">
                                <div class="media-body order-2 order-lg-1">
                                  <h4 class="mt-0 font-weight-bold mb-2">Title: {{each_review.title}}</h4>
                                  <p class="mt-0 font-weight-bold mb-2">{{each_review.content}}</p>
                                <div class="d-flex align-items-center justify-content-between flex-column mt-1">
                                  <h5 class="font-weight-bold mb-0 my-2 ">Ratings: {{each_review.ratings}}/5</h5>
                                    <h5 class="font-weight-bold my-2">Date Posted: {{each_review.date_posted}}</h5>
                                    <h5 class="font-weight-bold my-2">Product Reviewed: {{each_review.product_bought}}</h5>
                                </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
          </div>
          </figure>
        </div>
  
      </div>
      <div class="col-md-6">
        <div class="col-lg-11 mx-auto py-4">
            <div class="row py-5"></div>
            <figure class="rounded p-3 bg-white shadow-sm text-center">
              <div class="card shadow border-0 mb-5">
                  <div class="card-body p-5">
                      <h2 class="h4 mb-1">Lesson Reviews</h2>
                  </div>
                  <ul class="list-group-shadow p-0 m-0">
                    {% for each_review in lesson_reviews %}
                        <li class="list-group-item">
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1">
                                <h4 class="font-weight-bold my-2">Lesson: {{each_review.class_attended}}</h4>
                                <h5 class="mt-0 font-weight-bold mb-2">{{each_review.content}}</h5>
                                <div class="d-flex align-items-center justify-content-between flex-column mt-1">
                                  <h6 class="font-weight-bold mb-0 ">Ratings: {{each_review.ratings}}/5</h6>
                                    <h6 class="font-weight-bold my-2">Date: {{each_review.date_posted}}</h6>
                                </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            </figure>
          </div>
       
      </div>
    </div>
  </section>


<!-- Footer -->
<footer class="page-footer font-large bg-dark text-white pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
          <p>Warm Bakes is a family business ran locally in Singapore.</br>
             Having the priviledge to taste our mother's treats, we decided
             as a family it would be a huge waste to not share it with others. As such,
             Warm Bakes was founded with the intend to spread our mother's delightful delicacies
             to everyone.
          </p>
  
        </div>

        <div class="col-md-6 mx-auto ">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-center"> Quick Links</h5>
  
          <ul class="list-unstyled" id="quick-links-list">
            <li>
              <a  class="remove-decoration" href="{%url 'show_all_products_route'%}"> View All Products</a>
            </li>
            <li>
              <a class="remove-decoration"  href="{%url 'show_all_lessons_route'%}">View All Lessons</a>
            </li>
            {% if not user.is_authenticated %}
            <li>
                <a  class="remove-decoration" href="{%url 'account_login'%}">Login</a>
            </li>
            <li>
                <a  class="remove-decoration" href="{%url 'account_signup'%}">Register</a>
            </li>
            {% endif %}
          </ul>
  
        </div>
      </div>
    </div>
    <hr>
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item" >
        <a id="social-media-links" href="https://www.facebook.com" class="fa fa-facebook"></a>
      </li>
      <li class="list-inline-item">
        <a  id="social-media-links" href="https://www.twitter.com" class="fa fa-twitter"></a>
      </li>
      <li class="list-inline-item">
        <a  id="social-media-links" href="https://www.google.com" class="fa fa-google-plus"></a>
      </li>
      <li class="list-inline-item">
        <a  id="social-media-links" href="https://www.linkedin.com" class="fa fa-linkedin"></a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" id="copyright-area">© 2020 Copyright:
      <a class="remove-decoration" href="{%url 'homepage' %}" > Warm Bakes </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
{% endblock %}



