{% extends 'base.template.html' %}

{% block content %}
<h1>Homepage</h1>
<a href="{%url 'account_login'%}">Login</a>
<a href="{%url 'account_signup'%}">SignUp</a>
<a href="{%url 'show_all_products_route'%}">Products</a>
<a href="{%url 'show_all_lessons_route'%}">Lessons</a>
<a href="{%url 'profile_page_route'%}">My Profile</a>
<a href="{%url 'view_all_reviews_route' %}">My Reviews</a>
<a href="{%url 'view_my_purchases_route' %}">My Purchases</a>
<a href="{%url 'account_logout'%}">Logout</a>
{% endblock %}